<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <span>Phòng ban: </span>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-primary"><i class="fa fa-plus"></i>
                    Add</button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <ngx-datatable class="material" [rows]="departments" [rowHeight]="auto" [columnMode]="'force'"
            [sortType]="'multi'" [headerHeight]="50" [footerHeight]="50" [externalPaging]="true"
            [count]="paging.totalItems" [offset]="paging.page - 1" [limit]="paging.pageLimit"
            (page)="loadDepartments($event)">
            <ngx-datatable-column name="Tên">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <a (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
                        aria-controls="collapseBasic">{{ row.name}}</a>
                    <div id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">
                        <div class="well well-sm card card-block">
                           <button style="width: 20;">avc</button>
                           <br>
                           <button>vccc</button>
                        </div>
                    </div>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>

    </div>
</div>