<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col">
        <span>Ca làm việc: </span>
      </div>
      <div class="col-auto">
      </div>
    </div>
  </div>
  <div class="card-body">
    <ngx-datatable class="material" [rows]="shifts" [rowHeight]="50" [columnMode]="'force'" [sortType]="'multi'"
      [headerHeight]="50" [footerHeight]="50" [externalPaging]="true" [count]="paging.totalItems"
      [offset]="paging.page - 1" [limit]="paging.pageLimit" (page)="loadShifts($event)" (activate)="onRow($event)">
      <ngx-datatable-column name="Tên">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span class="cursor-hover">{{row.name}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Bắt đầu làm">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span>{{ row.workStartTime}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Làm từ">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span>{{ row.workEndTime}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Hết làm">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span>{{ row.workStartTime}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Nghỉ từ">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span>{{ row.breakStartTime}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Hết nghỉ">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span>{{ row.breakEndTime}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Số giờ công">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span>{{ row.workingHoursNumber}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Số ngày công">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span>{{ row.workingDaysNumber}}</span>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>


<div class="card">
  <div class="card-header">
    <div class="row">

    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-6">
        <input class="form-control" type="text" [(ngModel)]="shiftName" placeholder="Nhập tên ca">
      </div>
      <div class="col-lg-6">
        
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-2">
            <p class="mt-4">Giờ làm từ: </p>
          </div>
          <div class="col-lg-4">
            <timepicker [(ngModel)]="workStartTime" [showMeridian]="false" [showSpinners]="true">
            </timepicker>
          </div>
          <div class="col-lg-2">
            <p class="mt-4">Đến: </p>
          </div>
          <div class="col-lg-4">
            <timepicker [(ngModel)]="workEndTime" [showMeridian]="false" [showSpinners]="true">
            </timepicker>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-2">
            <p class="mt-4">Giờ nghỉ từ: </p>
          </div>
          <div class="col-lg-4">
            <timepicker [(ngModel)]="breakStartTime" [showMeridian]="false" [showSpinners]="true">
            </timepicker>
          </div>
          <div class="col-lg-2">
            <p class="mt-4">Đến: </p>
          </div>
          <div class="col-lg-4">
            <timepicker [(ngModel)]="breakEndTime" [showMeridian]="false" [showSpinners]="true">
            </timepicker>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="row">
          <div class="col-lg-4">
            <p class="mt-4">Số giờ công: </p>
          </div>
          <div class="col-lg-8">
            <input class="form-control mt-4" type="number" [(ngModel)]="workingHoursNumber">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <p class="mt-4">Số ngày công: </p>
          </div>
          <div class="col-lg-8">
            <input class="form-control mt-4" type="number" [(ngModel)]="workingDaysNumber">
          </div>
        </div>
      </div>
      <div class="col-lg-2">
        <button type="button" (click)="add()" class="btn btn-secondary mt-3" style="width: 80px;">
          Thêm</button><br>
        <button type="button" (click)="openEdit()" class="btn btn-secondary mt-1" style="width: 80px;">
          Sửa</button><br>
        <button type="button" (click)="delete()" class="btn btn-secondary mt-1" style="width: 80px;">
          Xóa</button>
      </div>
    </div>
  </div>
</div>