<div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col">
          <span>Nhật kí </span>
        </div>
        
      </div>
    </div>
    <div class="card-body">
      <ngx-datatable 
      class="material" 
      [rows]="logs" 
      [rowHeight]="50" 
      [columnMode]="'force'" 
      [sortType]="'multi'" 
      [headerHeight]="50" 
      [footerHeight]="50" 
      [externalPaging]="true"
      [count]="paging.totalItems"
      [offset]="paging.page - 1"
      [limit]="paging.pageLimit"
      (page)="loadLog($event)"   
      >
      <ngx-datatable-column name="ID" >
          <ng-template let-row="row" ngx-datatable-cell-template>
              <span>{{ row.id}}</span>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="User ID" >
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{ row.userID}}</span>
        </ng-template>
    </ngx-datatable-column>
      <ngx-datatable-column name="Mức độ">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span>{{ row.level}}</span>
      </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Địa chỉ">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span>{{ row.address}}</span>
      </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Mô tả">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span>{{ row.message}}</span>
      </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Ngày tạo">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span>{{ row.createdAt |  date:'MM/dd/yyyy hh:mm:ss'}}</span>
      </ng-template>
      </ngx-datatable-column>
      
  </ngx-datatable>
    </div>
  </div>